.product-list-holder {
  font-family: Raleway;
  list-style-type: none;
}
.product-list-holder ul {
  list-style-type: none;
}
.product-list-holder .product-list-element {
  display: inline-block;
}
.container .fa-plus {
  color: #808080;
}
.container .cartbg {
  border-radius: 5px;
  background: #a4b357;
  padding-top: 10px;
}
.container .cartbg .itemslist {
  list-style-type: none;
}
.container .cartbg .itemslist .cart-item-price {
  padding: 0px 5px;
  float: right;
}
.container .cartbg .itemslist .cart-item {
  display: block;
  border-bottom: 1px solid #808080;
  margin-bottom: 5px;
  font-family: Raleway;
  font-size: 1.3em;
  border-radius: 6px;
}
.container .cartbg .inclass {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.container .cartbg .inclass .ali {
  position: absolute;
  right: 0px;
  font-size: 2.5em;
  font-weight: bolder;
  font-family: Raleway;
  color: #008000;
  padding-left: 50px;
}
.container .cartbg .inclass .ali sup {
  color: #f00;
  font-size: 0.5em;
}
.container .cartbg li {
  display: inline;
  margin-right: 10px;
}
.container .cartbg .basket {
  position: relative;
}
.container .cartbg .basket img {
  height: 70px;
  width: 70px;
}
.container .cartbg .basket .badge {
  background-color: #f00;
  position: absolute;
  left: 49px;
  top: 4px;
}
