.cartbg
  border: 1px solid green
  border-radius: 5px
  background: rgba(164,179,87,1)
  padding-top: 10px
  .itemslist
    list-style-type: none
    .cart-item-price
      padding 0px 5px
      float: right
    .cart-item
      display: block
      border-bottom: 1px solid grey
      margin-bottom 5px
      font-family: Raleway
      font-size 1.3em
      border-radius: 6px
  

   .inclass
      list-style-type: none;
      display: flex;
      align-items: center;
      position: relative

      .ali
        position: absolute
        right: 0px
        font-size: 2.5em;
        font-weight: bolder;
        font-family: Raleway;
        color: green;
        padding-left: 50px
        sup
          color:red;
          font-size: 0.5em

    li
      display: inline;
      margin-right: 10px

    .basket
      position: relative;
      img
        height: 70px;
        width: 70px;
      .badge
          background-color: red;
          position: absolute;
          left: 49px;
          top: 4px;