.product-list-holder
  font-family: Raleway
  list-style-type: none
  ul
    list-style-type: none
  .product-list-element
    display: inline-block
    .product-details-style
      padding: 5px
      margin-right: 80px
      &:hover
        border 1px solid grey



.container
  .fa-plus
    color grey
  .cartbg
    position: fixed
    right: 160px
    max-height: 500px
    overflow-y: scroll
    // border: 0.5px solid white
    border-radius: 5px
    background: rgba(164,179,87,1)
    padding-top: 10px
    .itemslist
      list-style-type: none
      .cartitem-price
        padding 0px 5px
        float: right
        .fa-times
          margin-left: 15px
          margin-right: 15px
          color white
          &:hover
            font-size: 1.2em;
            color: red
            cursor: pointer
      .cart-item
        display: block
        border-bottom: 1px solid grey
        margin-bottom 5px
        font-family: Raleway
        font-size 1.3em
        border-radius: 6px
        .small-product-icon
          width: 50px
          height: 50px
          border-radius: 10px
          margin-right: 10px
          border: 0.5px solid grey
    

    .inclass
        list-style-type: none;
        display: flex;
        align-items: center;
        position: relative

        .ali
          position: absolute
          right: 0px
          font-size: 2.5em;
          font-weight: bolder;
          font-family: Raleway;
          color: green;
          padding-left: 50px
          sup
            color:red;
            font-size: 0.5em

      li
        display: inline;
        margin-right: 10px

      .basket
        position: relative;
        img
          height: 70px;
          width: 70px;
        .badge
            background-color: red;
            position: absolute;
            left: 49px;
            top: 4px;