.cartbg
  border: 1px solid green
  border-radius: 5px
  background: rgba(164,179,87,1)
  .itemslist
    list-style-type: none
    .cart-item-price
      padding-right: 3px
      float: right
    .cart-item
      display: block
      border-bottom: 1px solid grey
      margin-bottom 5px
      font-family: Raleway
      font-size 1.3em
      border-radius: 4px
  

  .ali
    font-size: 2.5em;
    font-weight: bolder;
    font-family: Raleway;
    color: green;
    sup
      color:red;

   .inclass
      list-style-type: none;
      display: flex;
      align-items: center;
    li
      display: inline;
      margin-right: 10px

    .basket
      position: relative;
      img
        height: 70px;
        width: 70px;
      .badge
          background-color: red;
          position: absolute;
          left: 49px;
          top: 4px;